global
  log 127.0.0.1 local0
  log 127.0.0.1 local1 notice

defaults
  log global
  mode http
  option httplog
  option dontlognull
  timeout connect 5000
  timeout client 10000
  timeout server 10000

listen stats
  bind *:70
  stats enable
  stats uri /

frontend lb
  bind *:80
  mode http
  default_backend api

backend api
  mode http
  balance roundrobin
  option forwardfor
  http-request set-header X-Forwarded-Port %[dst_port]
  http-request add-header X-Forwarded-Proto https if { ssl_fc }
  option httpchk GET /api/tasks HTTP/1.1\r\nHost:localhost
  server api1 api1:80 check
  server api2 api2:80 check
  server api3 api3:80 check
